extends layout.pug

block styles
    //- Custom styles
    link(rel="stylesheet", href="/css/components/viewbookings.css")

block content
    //- Page content

    section
        .container
            .row
                h4.light.center.blue-text.text-lighten-1 Your bookings
            .row
                .col.s12
                    ul.tabs
                        li.tab.col.s6
                            a.active(href="#open") Open
                        li.tab.col.s6
                            a(href="#closed") Closed
                        
                #open.col.s12.overflow-scroll 
                #closed.col.s12.overflow-scroll 
	
    #barcodemodal.modal
        .modal-content
            svg#barcodeholder

              
block scripts
    //- custom scripts
    script(src="/js/lib/JsBarcode.all.min.js")
    script(src="/js/lib/moment.min.js")
    script(src="/js/components/viewbookings.js")