extends layout.pug

block styles
    //- Custom styles

block content
    //- Page content
    
    section.valign-wrapper.screen-height
        .container
            .row
                .col.s6.push-s3
                    .card.small.green
                        h1.header.white-text Hello

block scripts
    //- custom scripts
    
