extends layout.pug

block styles
    //- Custom styles
    //- link(rel="stylesheet", href="/css/components/seatmap.css")

block content
    //- Page content

    section
        .container
            .row#peoplelist
                .col.s12.chips.chips-autocomplete
                    input.custom-class
  
                .col.s12.input-field
                    input#person1.user-input.autocomplete(type="text", name="person1")
                    label(for="person1") Person
                .col.s12.input-field
                    input#person2.user-input.autocomplete(type="text", name="person2")
                    label(for="person2") Person
                .col.s12.input-field
                    input#person3.user-input.autocomplete(type="text", name="person3")
                    label(for="person3") Person
                .col.s12.input-field
                    input#person4.user-input.autocomplete(type="text", name="person4")
                    label(for="person4") Person
                
            .row
                .col.s12.m6
                    a.btn.blue.accent-4.center#bookbtn( href="javascript:bookSeats()", style="width: 100%") Book

                 
block scripts
    //- custom scripts
    //- script(src="/js/lib/moment.min.js")
    script(src="/js/components/selectpeople.js")