extends layout.pug

block styles
    //- Custom styles
    link(rel="stylesheet", href="/css/components/seatmap.css")

block content
    //- Page content

    section
        .row    
            .col.s12    
                div.blue.lighten-1(style='border-radius:0px 25px 25px 0px;height: 40px;width:50%') 
                    h5.white-text.center-align Member 
            
//- block scripts
//-     //- custom scripts
//-     script(src="/js/components/seatmap.js")