extends ./layout.pug

block styles
    //- Custom styles
    link(rel="stylesheet" href="/css/nuke.css")


block content
    //- Page content
    .container-fluid

        .row
            .s12 
                h3.header Mark Attendance
        .row
            .col.s12
               
                ul#meo.collapsible
                    li
                        .collapsible-header
                            i.material-icons account_circle
                            | Vaibhav pathak
                        .collapsible-body
                            p
                                | College id : 2016ACSC0118077 
                                br
                                |  SEAT: G1 
                                br
                                | Time : 9am-11am
                            form(action="#")
                                p
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span present
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span absent
                    li
                        .collapsible-header
                            i.material-icons account_circle
                            | Krushn Daysmookh
                        .collapsible-body
                            p
                                | College id : 2016ACSC0118077 
                                br
                                |  SEAT: G1 
                                br
                                | Time : 9am-11am
                            form(action="#")
                                p
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span present
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span absent
                    li
                        .collapsible-header
                            i.material-icons account_circle
                            | Savneet Chhatwal
                        .collapsible-body
                            p
                                | College id : 2016ACSC0118077 
                                br
                                |  SEAT: G1 
                                br
                                | Time : 9am-11am
                            form(action="#")
                                p
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span present
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span absent
                    li
                        .collapsible-header
                            i.material-icons account_circle
                            | Sahil Kinderle
                        .collapsible-body
                            p
                                | College id : 2016ACSC0118077 
                                br
                                |  SEAT: G1 
                                br
                                | Time : 9am-11am
                            form(action="#")
                                p
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span present
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span absent
                    li
                        .collapsible-header
                            i.material-icons account_circle
                            | Mrunal Zire
                        .collapsible-body
                            p
                                | College id : 2016ACSC0118077 
                                br
                                |  SEAT: G1 
                                br
                                | Time : 9am-11am
                            form(action="#")
                                p
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span present
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span absent
                    li
                        .collapsible-header
                            i.material-icons account_circle
                            | vaibhav pathak
                        .collapsible-body
                            p
                                | College id : 2016ACSC0118077 
                                br
                                |  SEAT: G1 
                                br
                                | Time : 9am-11am
                            form(action="#")
                                p
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span present
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span absent
                    li
                        .collapsible-header
                            i.material-icons account_circle
                            | vaibhav pathak
                        .collapsible-body
                            p
                                | College id : 2016ACSC0118077 
                                br
                                |  SEAT: G1 
                                br
                                | Time : 9am-11am
                            form(action="#")
                                p
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span present
                                    label
                                        input.with-gap(name="group1" type="radio")
                                        span absent


block scripts
    //- custom scripts