html
    head
        title Nuke
        include components/styles.pug
        block styles

    body

        include components/navbar.pug

        main.main    
            block content


        include components/footer.pug
        include components/scripts.pug

        block scripts

